In [21]:
import os
import pandas as pd
from tqdm import tqdm_notebook as tqdm

directory = 'C:/Users/doudi/OneDrive/Documents/TMU-GIDS/資料探勘與視覺化分析/Finalterm/datasets'
os.chdir(directory)

def process(path):
    df = pd.read_csv(path)
    df = df.drop('Country Code', 1)
    df.set_index('Country Name', inplace=True)
    df = df.stack(dropna=False)
    df.head()
    new_path = 'C:/Users/doudi/OneDrive/Documents/TMU-GIDS/資料探勘與視覺化分析/Finalterm/datasets/preprocess/' + path
    df.to_csv(new_path, index=True)


for filename in tqdm(os.listdir(directory)):
    if filename.endswith(".csv"): 
        print(filename)
        process(filename)
        continue
    else:
        continue

C:\Users\doudi\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=25.0), HTML(value='')))

C:\Users\doudi\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  from ipykernel import kernelapp as app

CO2_Emission.csv
education_duration.csv
fertility_rate(per_women).csv
GDP(per_capita).csv
homicide(per_100000).csv
Life_expectancy_female.csv
Life_expectancy_male.csv
PM25.csv
sex_ratio(birth).csv
suicide_rate.csv
unemployment_female.csv
unemployment_male.csv

In [32]:
directory = 'C:/Users/doudi/OneDrive/Documents/TMU-GIDS/資料探勘與視覺化分析/Finalterm/datasets/preprocess'
os.chdir(directory)
dfs = []
for filename in tqdm(os.listdir(directory)):
    if filename.endswith(".csv"): 
        print(filename)
        dfs.append(pd.read_csv(filename))
        continue
    else:
        continue

C:\Users\doudi\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

CO2_Emission.csv
education_duration.csv
fertility_rate(per_women).csv
GDP(per_capita).csv
homicide(per_100000).csv
Life_expectancy_female.csv
Life_expectancy_male.csv
PM25.csv
sex_ratio(birth).csv
suicide_rate.csv
unemployment_female.csv
unemployment_male.csv

In [44]:
final = [df.set_index(['Country','Year']) for df in dfs]

new = pd.concat(final, axis=1).reset_index()

In [47]:
new.head()

,Country,Year,CO2,Education_duration,Fertility_rate,GDP,Homicide(per_1000000),Life_exp_f,Life_exp_m,PM25,Sex_ratio(birth),Suicide_rate,Unemployment_f,Unemployment_m
0,Aruba,1960,NaN,NaN,4.820,NaN,NaN,67.129,64.084,NaN,NaN,NaN,NaN,NaN
1,Aruba,1961,NaN,NaN,4.655,NaN,NaN,67.625,64.429,NaN,NaN,NaN,NaN,NaN
2,Aruba,1962,NaN,NaN,4.471,NaN,NaN,68.065,64.747,NaN,1.05,NaN,NaN,NaN
3,Aruba,1963,NaN,NaN,4.271,NaN,NaN,68.458,65.053,NaN,NaN,NaN,NaN,NaN
4,Aruba,1964,NaN,NaN,4.059,NaN,NaN,68.817,65.356,NaN,NaN,NaN,NaN,NaN

In [48]:
new.to_csv('final.csv', index=True)